{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'diaryApp/detail.css' %}">
{% endblock style %}
{% block content %}
    <div class="container">
        <div class="header">
            <a href="{% url 'index' %}">
                <img class="logo" src="../static/images/우주 일기 3.png">
            </a>
            <div class="user_info">
                {% if user.is_authenticated %}
                <span class="navbar_menu_item">안녕하세요! {{user.username}} 님</span>
                <br>
                <a style="color:white;" href="{% url 'logout' %}">Logout</a>
                {% endif %}
            </div>
        </div>
        <div class="outer">
            <img src="../static/images/frame.png">
                <div class="date" style="text-align: center;">
                    {{diary.diary_created_at}} <br>
                    {{diary.creator}}님의 일기
                </div>
    
                <div class="todo_list">{{diary.creator}}님의 To-do List</div>
                    <li>{{diary.todos}}</li>
                <div class="diary_question">Q.오늘 하루 가장 행복했던 일은?</div>
                    <p>{{diary.content}}</p>
            </div>
        <div class="footerimg">
            <img src="../static/images/footerimg.png" style="padding-left: 140px;">
        </div>
        </div>
    </div>
{% endblock content %}