{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
{% endblock style %}
{% block js %}
<script src="{% static 'js/login.js'%}"></script>
{% endblock js%}
{% block content %}
    <div class="navbar">
        <div class="logo">
            <img src="../static/images/우주 일기.png">
        </div>
    </div>
    <div class="container">
        <div class="title">
            <span id="login-tab" class="login selected tab" style="margin-top: 30px;" onclick="showLogin()">Login</span>
            <span id="signup-tab" class="signup tab" style="margin-top: 30px;" onclick="showSignup()">Sign Up</span>
        </div>
        <section id="login-section" class="login-section">
            <form method="POST">
                {% csrf_token %}
                {% if loginError %}
                <p class="error">{{loginError}}</p>
                {% endif %}
                <div class="loginbox">
                    <p>Username</p>
                    <input type="text" name="username">
                    <p>Password</p>
                    <input type="password" name="password">
                    <br>
                    <br>
                    <div class="login_btn">
                        <button>Login</button>
                    </div>
                </div>
            </form>
        </section>
        <section id="signup-section" class="signup-section hide">
            <form action="/Account/signup" method="POST">
                {% csrf_token %}
                {% if signupError %}
                <p class="error">{{signupError}}</p>
                {% endif %}
                <div class="signupbox">
                    <p>Username</p>
                    <input type="text" name="username">
                    <p>Password</p>
                    <input type="password" name="password">
                    <br>
                    <br>
                    <div class="signup_btn">
                        <button>Sign Up</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
{% endblock content %}
