* {
    font-family: 'Laila', sans-serif;
}

input {
    width: 250px;
    padding: 20px 10px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    margin-top: -20px;
}

.container {
    width: 309px;
    height: 450px;
    left: 35px;
    top: 172px;
    margin: 0 auto;
    background: rgba(98, 104, 108, 0.8);
    position: absolute;
    z-index: 1;
    margin-top: 100px;
}

p {
    color: white;
    font-size: 14px;
    margin-top: 40px;
    font-weight: bolder;
}

.tab {
    text-align: center;
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.login {
    color: #A5ADB2;
}
.login.selected{
    color: white;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #6F46A7;
}

.signup {
    color: #A5ADB2;
    margin-left: -150px;
}
.signup.selected {
    color: white;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #896AC9;
    margin-left: -150px;
}

.error {
    font-family: 'Hahmlet', serif;
    font-weight: light;
    margin-left: 20px;
}

.logo {
    position: absolute;
    z-index: 1;
    padding-top: 30px;
}

.login-section {
    display: flex;
}
.login-section.hide {
    display: none;
}

.signup-section {
    display: flex;
}
.signup-section.hide {
    display: none;
}

.loginbox {
    margin-left: 20px;
}

button {
    width: 100px;
    height: 40px;
    left: 68px;
    top: 505px;
    background: #896AC9;
    border-radius: 12px;
    border: 0px;
    font-weight: bolder;
    color: white;
    font-size: 20px;
}
.login_btn {
    display: flex;
    justify-content: center;
}

.signupbox {
    margin-left: 20px;
}

.signup_btn {
    display: flex;
    justify-content: center;
}